.ChildCommentForm .WriterPassword {
    width: 20%;
    margin-right: 10px;
    display: inline-block;
}

.ChildCommentForm .Content {
    width: 95%;
}

.Comment {
    list-style-type: none;
    box-shadow: 1px 1px 1px 1px gray;
    margin: 2px;
}

.Comment p {
    display: inline-block;
}

.Comment p:first-child {
    width: 60%;
}

.Comment button {
    float: right;
    margin:   10px ;
}